* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    height: 200px;
    width: 300px;
    object-fit: cover;

}

.hello {
    height: 70px;
  width: 70px;
  border-radius: 50%;
  top: 163px;
  left: 159px;
  background: radial-gradient(circle at 60% 60%, rgba(255, 252, 112, 0.8) 0%, rgba(252, 252, 112, 0) 80%);
  box-shadow: 0 0 90px rgba(255, 255, 204, 0.8); /* Increase blur radius to reduce sharpness */
}

.filMain{
    position: absolute;
    top:145px;
    left: 190px;
    display: flex;
    gap: 5px;
}